@font-face {
  font-family: "iconfont"; /* Project id 5156451 */
  src: url('iconfont.woff2?t=1775664989899') format('woff2'),
       url('iconfont.woff?t=1775664989899') format('woff'),
       url('iconfont.ttf?t=1775664989899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e600";
}

.icon-xiangmu:before {
  content: "\e606";
}

.icon-xitongguanli_yonghuguanli:before {
  content: "\e629";
}

.icon-daochu:before {
  content: "\eabf";
}

.icon-jujue:before {
  content: "\e62a";
}

.icon-tongguo:before {
  content: "\e62b";
}

.icon-shiliangzhinengduixiang5:before {
  content: "\e821";
}

.icon-xiangmuchengguo:before {
  content: "\ea41";
}

